body {
    font-family: Arial, sans-serif; /* Example font-family */
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #fbd49f , #8dfbff);   
    min-height: 100vh; 
    overflow-y: auto; 
  }